.padding{
	padding-top:4%;
}
.pd-l{
	padding-left:4%;
}
.pd-b{
	padding-bottom: 4%;
}
.pd{
	padding:2% 4%;
}
.border{
	border: 1px solid #c6c6c6;
}
.radius{
	border-radius: 100%;
}
.timg{
	width: 100%;
}
.bold{
	font-weight: bold;
}
.espacio{
	letter-spacing: 4px;
}
.mayus{
	text-transform: uppercase;
}
.separar{
	padding: 5% 0;
}
.margen{
	margin-bottom:5%;
}
